<section th:insert="componentes/plantilla :: plantilla">
    <title th:fragment="titulo">Nueva Venta</title>

    <div class="container" th:fragment="content">
        <div class="container">
            <h1 class="text-center mt-2" style="color: black"><strong>Nueva Venta</strong></h1>
            <div class="form-group row" style="margin-left: 4%;">
                <div class="form-group row">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>Tipo:</strong>
                    </label>
                    <div class="ml-2 mr-2">
                        <input type="text" class="form-control" id="tipoVenta" readonly="readonly"
                            placeholder="Consumidor Final">
                    </div>
                </div>
                <div class="form-group row ml-4">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>N°</strong>
                    </label>
                    <div class="col-sm-10">
                        <input type="number" min="00001" class="form-control" name="numeroFactura" id="numeroFactura"
                            placeholder="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="cliente" readonly="readonly" placeholder="Cliente">
                </div>
                <button type="button" id="buscarCliente" class="btn btn-primary">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
            </div>

            <hr>
            <h3 class="text-center" style="color: black"><strong>Detalles de la venta</strong></h3>
            <div class="form-group row" style="margin-left: 1%;">
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad"
                        min="1">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Descuento %"
                        min="0" max="100">
                </div>
                <div class="ml-2 mr-2">
                    <select id="tipoVenta" class="form-control">
                        <option value="Gravadas">Gravadas</option>
                        <option value="No Sujetas">No Sujetas</option>
                        <option value="Exentas">Exentas</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="producto" readonly="readonly" placeholder="Producto">
                </div>
                <button type="button" id="buscarProducto" class="btn btn-primary">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
                <button name="agregarDetalle" id="agregarDetalle" class="btn btn-success ml-1 " type="button">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>

            <table class="table border" style="color: black; text-align: center;" id="tabla">
                <thead class="bg-primary" style="color: white;">
                    <tr>
                        <th>
                            <h5>CANTIDAD</h5>

                        </th>
                        <th>
                            <h5>PRODUCTO</h5>

                        </th>
                        <th>
                            <h5>PRECIO</h5>

                        </th>
                        <th>
                            <h5>DESCUENTO</h5>

                        </th>
                        <th>
                            <h5>NO SUJETAS</h5>

                        </th>
                        <th>
                            <h5>EXENTAS</h5>

                        </th>
                        <th>
                            <h5>GRAVADAS</h5>

                        </th>
                        <th>
                            <h5>OPERACION</h5>

                        </th>
                    </tr>

                </thead>
                <tbody style="color: black;" id="tDetalles">

                </tbody>
            </table>

            <div style="margin-left: 133px;">
                <label style="margin-left: 720px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Sub-total :</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="Subtotal" readonly="readonly">
                </div>

                <label style="margin-left: 740px; margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">IVA:</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="iva" readonly="readonly">
                </div>

                <label style="margin-left: 720px; margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">No Sujetas :</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="Subtotal" readonly="readonly">
                </div>

                <label style="margin-left: 720px; margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Exentas :</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="Subtotal" readonly="readonly">
                </div>

                <label style="margin-left: 710px;  margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Total venta:</h5>
                </label>
                <div style="margin-left: 730px;margin-top:-45px;" class="col-sm-2">
                    <input style="margin-left: 76%;" type="text" class="form-control" name="totalVenta" id="totalVenta"
                        readonly="readonly">
                </div>

            </div>
            <div class="text-center form-group mt-4">
                <button type="button" class="btn btn-success" id="guardarVenta">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a name="cancelar" id="cancelar" class="btn btn-danger" href="#" role="button"><i
                        class="fas fa-window-close"></i> Cancelar</a>
            </div>

            <div class="modal mt-5" id="modalCliente">
                <section th:insert="vistas/Ventas/modals :: modalCliente"></section>
            </div>

            <div class="modal mt-5" id="modalProductos">
                <section th:insert="vistas/Compras/modals :: modalProductos"></section>
            </div>

            <script type="text/javascript" th:src="@{/ajax/ventaApi.js}"></script>

        </div>
</section>